# Python cache and build
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# IDE / Editor settings
.idea/
.vscode/

# Databases
*.db
*.sqlite3

# Static / media files
/static/
media/

# Docker
*.log
data/
tmp/

# OS junk files
.DS_Store
Thumbs.db
